.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}
.personal-photo {
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 250px;
  min-width: 250px;
  min-height: 150px;
  height: auto;
}
.display-flex {
  display: flex;
}
.display-grid {
  display: grid;
}
.close-popup-content {
  position: absolute;
  top: -20px;
  right: 0;
  font-size: 47px;
  transform: rotate(45deg);
  cursor: pointer;
}
.show {
  display: block;
}
.hide {
  display: none;
}
#pop-up {
  background-color: rgba(51, 51, 51, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99
}
.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-pop-up {
  width: 250px;
  padding: 20px;
  background: #fff;
  border: 2px dashed #555;
}
.form-pop-up input {
  display: none;
}
.form-pop-up label {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: rgba(27, 71, 97, 0.7);
  color: #fff;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
.form-pop-up label:hover {
  background: rgba(27, 71, 97, 1);
}
.form-pop-up #replace-personal-photo:hover {
  background: rgba(161, 59, 46, 1);
}
.form-pop-up #upload-personal-photo:hover {
  background: rgba(79, 161, 46, 1);
}
.form-pop-up #replace-personal-photo {
  background: rgba(161, 59, 46, 0.7);
  border-radius: 10px 0px 0px 10px;
}
.form-pop-up #upload-personal-photo {
  background: rgba(79, 161, 46, 0.7);
  border-radius: 0px 10px 10px 0px;
}
.form-pop-up img {
  width: 100%;
}
.form-pop-up .close-popup-content {
  position: relative;
  padding: 0px 395px 0px 225px;
  color: #fff;
  font-size: 47px;
  transform: rotate(45deg);
  cursor: pointer;
}
.form-pop-up .close-popup-content:hover {
  color: #fff7df;
}
#close-pop-up-cross {
  cursor: pointer;
  position: absolute;
}